[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lterdatasampler"]
	path = lterdatasampler
	url = https://github.com/lter/lterdatasampler
[submodule "lterpalettefinder"]
	path = lterpalettefinder
	url = https://github.com/lter/lterpalettefinder
